<button class="btn btn-@Color">
    <span class="fa fa-@Icon"></span>
    @ButtonText
</button>

@code
{
    [Parameter]
    public string ButtonText { get; set; }

    [Parameter]
    public string Color { get; set; }
    
    [Parameter]
    public string Icon { get; set; }
}
