@page "/buttontest"
@page "/buttons"

<h3>ButtonTest</h3>

<div class="form-group">
    <div class="container">
        <div class="btn-toolbar">

            <CustomEditButtonComponent OnClick="changeTitle" />

            <CustomEditButtonComponent Caption="Edit Caption"  Color="danger" Icon="pencil" IsSmall="false" />

            <AddNewButtonComponent />            

        </div>
    </div>
</div>

@code {

    [CascadingParameter]
    IModalService Modal { get; set; }

    private string title = "";

    private void changeTitle()
    {
        Modal.Show<Counter>("Counter Popop Page");
    }
}
