@page "/buttontest"
@page "/buttons"

<h3>ButtonTest</h3>

<div class="form-group">
    <div class="container">
        <div class="btn-toolbar">

            <CustomEditButtonComponent ButtonText="Test Edit Button" />
            <CustomEditButtonComponent ButtonText=" Edit Button" />

            <button class="btn btn-danger">Danger</button>

        </div>
    </div>
</div>

@code {

}
