@page "/buttontest"
@page "/buttons"

<h3>ButtonTest</h3>

<div class="form-group">
    <div class="container">
        <div class="btn-toolbar">

            <CustomEditButtonComponent ButtonText="Test Edit Button" Color="primary" Icon="pencil-square-o"/>
            <CustomEditButtonComponent ButtonText=" Edit Button" Color="danger" Icon="pencil"/>

            <button class="btn btn-danger">Danger</button>

        </div>
    </div>
</div>

@code {

}
