@page "/buttontest"
@page "/buttons"


<h3>@title</h3>

<div class="form-group">
    <div class="container">
        <div class="btn-toolbar">

            <CustomEditButtonComponent Caption="ShowMessage" OnClick="changeTitle" />
            <br />
            <CustomEditButtonComponent Caption="Edit Caption" OnClick="ShowConfirmation" Color="danger" Icon="pencil" IsSmall="false" />
            <br />
            <AddNewButtonComponent />

        </div>
    </div>
</div>

@code {

    [CascadingParameter]
    IModalService Modal { get; set; }

    [Inject]
    ModalManager ModalManager { get; set; }

    private string title = "";

    private async Task changeTitle()
    {
        await ModalManager.ShowMessageAsync("Show Message Title", "Record will be deleted!", 3000);
    }

    private async Task ShowConfirmation()
    {
        var result = await ModalManager.ConfirmationAsync("Confirmations", "R u sure that it will be deleted?");

        if (result) title = "Yes just clicked";
        else title = "No just clicked";

    }
}
