@page "/buttontest"
@page "/buttons"

<h3>ButtonTest</h3>

<div class="form-group">
    <div class="container">
        <div class="btn-toolbar">

            <button class="btn btn-primary">
                <span class="fa fa-pencil-square-o"></span>
                Primary Button
            </button>

            <button class="btn btn-danger">Danger</button>

        </div>
    </div>
</div>

@code {

}
